
label {
    display: inline-block;
}
textarea {
    height: 200px;

}
#wrapper {
    margin: auto;
    width: 825px;
    padding: 20px;
}
#box_holder {
    margin-bottom: 20px;
}
.location {
    display: inline-block;
    width: 170px;
    margin: 10px;
    padding: 5px;
    text-align: center;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
}
#history_holder {
    margin: 10px;
}
#history_holder p {
    margin: 5px 0px
}
#history_holder form {
    margin-top: 20px;
}
#history {
    overflow-y: auto;
    margin-right: 5px;
    height: 200px;
    padding: 10px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
}
.green {
    color: green;
}
.red {
    color: red;
}